body {
  background-color: #4d315863;
  margin: 0;
}

.header {
  background: url("./image/header.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 10px;
}

div h2 {
  font-style: italic;
  text-align: center;
  margin: 10px;
}

.hobbies,
.works,
.testimonial,
.gallery {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(197, 82, 201, 0.274);
}

.gallery img {
  height: 200px;
  width: 200px;
}

.contact-container {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(197, 82, 201, 0.274);
}

.contact form {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  gap: 10px;
  border-radius: 10px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  color: black;
}

.contact form button {
  padding: 0.75rem;
  background-color: #4d3158;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact form button:hover {
  background-color: #3b253f;
}

@media (max-width: 320px) {
  .header {
    padding: 5px;
  }

  div h2 {
    font-size: 1.5em;
  }

  .hobbies,
  .works,
  .testimonial,
  .gallery {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .contact-container {
    padding: 0.5rem;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
  }

  .contact form {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .contact form input,
  .contact form textarea {
    font-size: 14px;
    width: 100%;
  }

  .contact form button {
    padding: 0.5rem;
    width: 100%;
  }
}

@media (max-width: 776px) {
  .contact-container {
    padding: 0.5rem;
  }

  .contact form {
    flex-direction: column;
    align-items: stretch;
  }

  .contact form input,
  .contact form textarea,
  .contact form button {
    width: 100%;
  }
}
